.button-area{
    width: 100%;
    text-align: center;
}
.button{
    background-color: #8a5841;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    color:#fff;
    margin: 32px 0;
}

.button:hover{
    color: #95ffd4;
}