.team{
    text-align: center;
    padding: 32px;
}

.team h1{
    display: inline-block;
    font-size: 32px;
    border-bottom: 4px solid;
    padding-bottom: 16px;
    margin-bottom: 32px;
}

.team .users{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}