.field-text{
    margin: 24px 0;
}

.field-text label{
    display: block;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 24px;
    text-transform: capitalize;
}

.field-text input{
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    border-radius: 10px;
}